.recipe-list-title {
  background-color: #FDD952;
  border: solid 3px #0c85a2;
  color: #0c85a2;
  width: 100%;
  text-align: center;;
}

strong {
  margin: auto;
  font-weight: bold !important;
}

mdb-card {
  background-size: cover;
}

.mt-fromCardTitle {
  margin-top: 5rem;
}

.noMarginBottom {
  margin-bottom: 0px;
}

p {
  font-family: "THE MINION", Arial, serif;
}
