<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue ie-nav fixed-top" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#"><strong>COOKID</strong></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item waves-light" mdbWavesEffect>
                <form class="form-inline md-form form-sm waves-light" mdbWavesEffect>
                    <mdb-icon fas icon="search" size="2x" aria-hidden="true"></mdb-icon>
                    <div class="md-form my-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    </div>
                </form>
            </li>
        </ul>
    </links>
</mdb-navbar>