<section>
    <div class="container">
        <div class="d-flex align-items-center d-flex justify-content-center">
            <div class="row mt-5">
                <div class="col-md-12 mb-3">
                    <img src="assets/askingname.PNG" class="img-fluid mtFromNav" alt="Responsive image">
                </div>
            </div>
        </div>
        <input type="text" id="defaultFormCardNameEx" class="form-control">
        <img src="assets/bananaaskingname.PNG" class="img-fluid mx-auto d-block" alt="Responsive image">
    </div>
</section>