<section>
    <div class="container">
        <div class="d-flex align-items-center d-flex justify-content-center">
            <div class="row mt-5">
                <div class="col-md-12 mb-3">
                    <img src="assets/chooseFood.PNG" class="img-fluid mtFromNav" alt="Responsive image">
                </div>
            </div>
          <button type="button" mdbBtn class="blue" mdbWavesEffect [routerLink]="['/askingname']">Clique pour commencer</button>
        </div>
    </div>
</section>
